footer {
  background-color: #333333;
  padding-bottom: 4rem;
  padding-top: 2rem;

  color: var(--white);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline: 4rem;
}

footer p {
  font-size: 0.8rem;
}

footer .icons-container {
  display: flex;
  justify-content: space-between;
}