* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --black: #202123;
  --red: #e83f57;
  --white: #d9d9d9;
}

body {
  background-color: var(--black);
}

h2 {
  font-size: 2rem;
  margin-block: 0.5rem;
}